* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 200px;
    margin: 20px 0;
  }
  .logo img {
    width: 100%;
  }
  .title-section {
    text-align: center;
    margin-top: 10px;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
  }
  .text-about {
    color: #000;
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    max-width: 390px;
  }
  .animated-button1 {
    text-decoration: none;
    display: inline-block;
    width: 584px;
    min-height: 60px;
    padding: 10px 30px;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
    border: 2px solid #0077c0;
    background: transparent;
    border-radius: 8px;
    font-size: 20px;
    color: #0077c0;
    transition: .6s ease-in-out;
  }
  .animated-button1:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 100%;
    width: 75px;
    position: absolute;
    top: 0;
    left: -95px;
    transform: skewX(-45deg);
  }
  .animated-button1:hover {
    background-color: #0077c0;
    color: #fff;
    border: 2px solid #0077c0;
  }
  .animated-button1:hover:before {
    left: 110%;
    transition: 0.9s ease-in-out;
  }
  .product-image {
    width: 511px;
    height: 511px;
    margin: 20px 0;
  }
  